.cards-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    background-color: lightblue;
    padding: 60px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.cards-heading {
    margin-top: 20px;
}

