body {
    margin: 0;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: grey;
    z-index: 9999;
}

.content {
    margin-top: 60px;
}

.nav__brand {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    margin-right: 20px;
}

.nav__link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav__toggler {
    display: none;
}

/* Estilos para pantallas grandes */
@media (min-width: 768px) {
    .nav {
        padding: 20px 50px;
    }

    .nav__menu {
        margin-left: auto;
    }

    .nav__toggler {
        display: block;
    }
}

.nav__toggler {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.line1,
.line2,
.line3 {
    width: 100%;
    height: 2px;
    background-color: #333;
}

/* Estilos adicionales para pantallas grandes */
@media (min-width: 768px) {
    .nav__toggler {
        display: none;
    }
}